body{ background: #E5E5E5;
    width: 1280px;
    height: 600px;
    margin: 0;
}
.cabecalho{
    width:100%;
    height: 10%;
    margin: 0;
}
p{  margin: 0;
    height: 30%;
    background:#1CD1B0;
}
h1{ height: 70%;
    background:#00669F;
    margin: 0;
}
.corpo{ 
    background-color: rgb(247, 246, 244);
    height: 100%;
    display: flex;

}
.batman{
    background-color:#bbb9b9;
    width: 29.1%;
    height: 80%;
    margin: 1%;
    margin-left: 9%;
}
.coracao{position: absolute;
}

.bat{
    display: flex;
    border-radius: 50%;
    position: absolute;
    top: 35%;
    left: 18%;
}
h2{ margin-left: 37%;
    margin-top: 20%;
}
h3{ 
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 90%;
line-height: 90%;
margin-left: 9%;
}
button{
position: absolute;
left: 20%;
top: 86%;
background: #00669F;
}
.alerquina{ 
    background-color:  #bbb9b9;
    width: 29.1%;
    height: 80%;
    margin:1%;
    margin-left:15%
}
.coracao2{
    position: absolute;
}
.ale{
    display: flex;
    border-radius: 50%;
    position: absolute;
    top: 35%;
    left: 64%;
}
h4{  margin-left: 36%;
    margin-top: 18%;
    font-family: 'Roboto';
    font-size: 150%;
}
 h5{ font-family: 'Roboto';
    font-style: normal;
     font-weight: 400;
     font-size: 90%;
     line-height: 90%;
     margin-left: 15%;
     }
     
    .botom2{ 
    position: absolute;
    left: 66%;
    background: #00669F;
    }

    footer{ 
        position: absolute;
        margin: 0;
        width: 1280px;
        height: 57px;
        left: 0px;
        top:100%;
        background: #00669F;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    h6{  font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FFF9F9;
        margin-top:1%;
        
    
    }

    




    




    
        


