

button{
position: absolute;
left: 9%;
top: 70%;
background: #00669F;
}
.alerquina{ 
    background-color:  #bbb9b9;
    width: 18.6%;
    height: 80%;
    margin:1%;
    margin-left:0%
}
.coracao2{
    position: absolute;
}
.ale{
    display: flex;
    border-radius: 50%;
    position: absolute;
    top: 28%;
    left: 28%;
}
h4{  margin-left: 36%;
    margin-top: 18%;
    font-family: 'Roboto';
    font-size: 150%;
}
 h5{ font-family: 'Roboto';
    font-style: normal;
     font-weight: 400;
     font-size: 90%;
     line-height: 90%;
     margin-left: 15%;
     }
     
    .botom2{ 
    position: absolute;
    left: 29%;
    background: #00669F;
    top:70%;
    }
    .mulher-maravilha{
        background-color: #bbb9b9;
        width: 20%;
        height: 80%;
        margin:1%;
        margin-left:0%
    }
    .coracao3{
        position: absolute;}
    .capa3{
        width: 100%;
        border-radius:4%;
        height:34%;
       
    }
    .perfil3{
        display: flex;
        border-radius: 50%;
        position: absolute;
        left: 49%;
        width: 7%;
        top: 30%;
    }
    h7{ position: absolute;
        left: 48%;
        font-family: 'Roboto';
        font-size: 150%;
        margin-top:4%; 
     }
     h8{position: relative;
        font-family: 'Roboto';
        font-style: normal;
         font-size: 90%;
         line-height: 90%;
        top:25%;
         }
         
         .botom3{ 
            position: absolute;
            left: 50%;
            background: #00669F;
            top:70%;
            }

 .Super-man{ 
     background-color:#bbb9b9;
     width: 18.6%;
     height: 80%;
     margin-top:1%;
    
 }

 .coracao4{
       position: absolute;
        }
 .capa4{
     width: 100%;
      border-radius:4%;  
    }


  <h2>Batman</h2>
  <h3>Bruce Wayne é o único personagem a se identificar<br>
       como Batman e aparece em Batman, Detective Comics,<br>
        Batman e Robin e Batman: O Cavaleiro das Trevas.<br>
         Dick Grayson retorna ao manto de Asa Noturna</h3>
         <button>Ver Mais</button>


 .perfil4{
     display: flex;
      border-radius: 50%;
      position: absolute;
      left: 70%;
      width: 7%;
         top: 30%;  }

  h9{ position: absolute;
     left: 71%;
     font-family: 'Roboto';
     font-size: 150%;
     margin-top:5%;   }

   h10{
        position: relative;
         font-family: 'Roboto';
         font-style: normal;
          font-size: 90%;
         line-height: 90%;
              top:25%;  }
        
     .botom4{ 
        position: absolute;
         left: 72%;
         background: #00669F;
         top:75%;   }

 


 <div class="pe">
     <footer>
         <h6>Todos os direitos reservados a Front-end I</h6>

     </footer> </div>



 </div>