body{ background: #E5E5E5;
    width: 2000px;
    height: 900px;
    margin: 0;
}
.cabecalho{
    width:100%;
    height: 10%;
    margin: 0;
}
p{  margin: 0;
    height: 30%;
    background:#1CD1B0;
}
h1{ height: 70%;
    background:#00669F;
    margin: 0;
}
.corpo{ 
    background-color: rgb(177, 148, 91);
    height:90%;
   
    display: flex;

}
.batman{
    background-color:#bbb9b9;
    width: 18.6%;
    height: 80%;
    margin:1%;
    margin-left:5%
}
.coracao{position: absolute;
}

.bat{
    display: flex;
    border-radius: 50%;
    position: absolute;
    top: 27%;
    left: 11%;
}
h2{ margin-left: 37%;
    margin-top: 20%;
}
h3{ 
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 90%;
line-height: 90%;
margin-left: 9%;
}
button{
position: absolute;
left: 13%;
top: 60%;
background: #00669F;
}
.alerquina{ 
    background-color:  #bbb9b9;
    width: 18.6%;
    height: 80%;
    margin:1%;
    margin-left:2%
}
.coracao2{
    position: absolute;
}
.ale{
    display: flex;
    border-radius: 50%;
    position: absolute;
    top: 28%;
    left: 34%;
}
h4{  margin-left: 36%;
    margin-top: 18%;
    font-family: 'Roboto';
    font-size: 150%;
}
 h5{ font-family: 'Roboto';
    font-style: normal;
     font-weight: 400;
     font-size: 90%;
     line-height: 90%;
     margin-left: 15%;
     }
     
    .botom2{ 
    position: absolute;
    left: 40%;
    background: #00669F;
    top:69%;
    }
    .mulher-maravilha{
        background-color: #bbb9b9;
        width: 18.6%;
        height: 80%;
        margin:1%;
        margin-left:2%
    }
    .coracao3{
        position: absolute;
        margin-top:1%;}
    .capa3{
        width: 100%;
        border-radius:4%;
       
    }
    .perfil3{
        display: flex;
        border-radius: 50%;
        position: absolute;
        left: 56%;
        width: 7%;
        top: 30%;
    }
    h7{ position: absolute;
        left: 55%;
        font-family: 'Roboto';
        font-size: 150%;
        margin-top:5%; 
     }
     h8{position: relative;
        font-family: 'Roboto';
        font-style: normal;
         font-size: 90%;
         line-height: 90%;
        top:25%;
         }

         .botom3{ 
            position: absolute;
            left: 58%;
            background: #00669F;
            top:75%;
            }
            footer{ 
                position: absolute;
                margin: 0;
                width: 2000px;
                height: 57px;
                left: 0px;
                top:93%;
                background: #00669F;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
            h6{  font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #FFF9F9;
                margin-top:1%;}

    




    




    
        


