*{
    margin: 0;
    padding: 0;
}



body{ background: #E5E5E5;
    width: 1280px;
    margin: 0;
}
.cabecalho{
    width:100%;
    height: 10%;
    margin: 0;
}
p{  margin: 0;
    height: 30%;
    background:#1CD1B0;
}
h1{ height: 70%;
    background:#00669F;
    margin: 0;
}
.conteudo{ 
    background-color: rgb(245, 243, 240);
    height: 450px;
    display: flex;
    border: 1px solid rgb(255, 252, 252);
    margin-top: 2%;
    width: 1273px;
    }
    .cardbat{
        background-color:rgb(211, 203, 203);
        border: 1px solid rgb(252, 251, 251);
        width: 20%;
        justify-content: space-between;
        display: flex;
        border-radius:3%;
        margin-left: 5%;
    }
    .coracao{
        position: absolute;
       }
     .capa{
         width: 100%;
       }
     .bat{
         border-radius: 65px;
         width: 50%;
         margin-left: 30%;
         margin-top: -18%;
       }
      h2{ margin-left: 33%;
     }
 h3{ 
       font-family: 'Roboto';
       font-style: normal;
       font-weight: 4;
       font-size: 90%;
        line-height: 100%;
        margin-left:2%;  }

 .botom1{
         background-color: rgb(32, 134, 223);
         margin-top:22% ;
         margin-left:40% }
 .cardalerquina{ 
            background-color:rgb(211, 203, 203);
            border: 1px solid rgb(255, 255, 255);
            width: 20%;
            height: 99%;
            border-radius:2%;
              margin: 3%;
             margin-top:0%  }
 .coracao2{
       position:absolute;   }
 .capa2{ width:100%;
        margin:0% }
 .ale{
        width:50%;
        border-radius:55%;
      margin-top:-16%;
        margin-left:25%;}
h4{  
    margin-left: 35%; }
 h5{ 
    font-family: 'Roboto';
       font-style: normal;
       font-weight: 4;
       font-size: 90%;
       line-height: 100%;
        margin-left:2%;  }
.botom2{
        margin-top:29%;
        background-color: rgb(31, 130, 216);
        margin-top:28% ;
         margin-left:40% }
                            
 .mulher-maravilha{
       background-color:rgb(211, 203, 203);
       border: 1px solid white;
       width: 20%;
       height: 99%;
       border-radius:2%;}

 .capa3{
     width: 100%;
     margin: 0%;
      border-radius: 5%; }
.coracao3{
  position: absolute}
.perfil3{
     width:50%;
     border-radius:55%;
      margin-top:-16%;
     margin-left:25%; }

 h7{ 
     margin-left: 29%;
     font-weight:bold;  }
                                
h8{
      font-family: 'Roboto';
      font-style: normal;
       margin-left: 20%;
     font-size: 100%;
     font-weight: 4;
      line-height: 100%;  }
.botom3{
     margin-top:29%;
     background-color: rgb(38, 118, 187);
     margin-top:11% ;
     margin-left:40% }
 .cardsuperman{
     background-color:rgb(211, 203, 203);
      border: 1px solid rgb(252, 252, 252);
      position: relative;
      margin-left:15%;
    width:250px;
      height:99%;
     border-radius:2%;  }
 .coracao4{
    position: absolute; }
 .capa4{
   width: 100%;
    margin: 0%; 
     border-radius:4%}
 .perfil4{
      width:50%;
     border-radius:55%;
     margin-top:-16%;
     margin-left:25%; }
 h9{
    margin-left: 29%;
   font-weight:bold;  }
h10{ 
      font-family: 'Roboto';
     font-style: normal;
   font-size: 89%;
     font-weight: 4;
    line-height: 100%;  
         margin-left: 39%;}
 .botom4{
    margin-top:29%;
    background-color: rgb(38, 124, 199);
    margin-top:5% ;
    margin-left:40% }
  .pe{ 
     background-color: #00669F;
      height:65px;
    }
  .texto{ 
     color: aliceblue;
     margin-left: 40%;
      font-size:100%; }

   @media (max-width: 820px) {
     body {width: 100%;
         margin: 0%; }
         .cabecalho{
           width: 100%;
          }
   .conteudo{
        width: 100%;
        display: flex;
        flex-wrap:wrap;
        
      }
      .cardbat{
        width: 25%; }
      .cardalerquina{
          width: 25%; }
       .mulher-maravilha{
            width: 25%; }
      .cardsuperman{
              width: 25%; }
      footer{
        margin-top:100%;
      }

  
    }
    